.about-page {
  background-color: #07152f;
  color: #fff;
  min-height: 100vh;
}

.about-hero {
  min-height: 75vh;

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 4rem 1.5rem;

  background:
    linear-gradient(
      rgba(7, 21, 47, 0.85),
      rgba(7, 21, 47, 0.95)
    ),
    url("/images/padel-hero.jpg");

  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.about-hero-content {
  max-width: 900px;
  text-align: center;
}

.about-tag {
  display: inline-block;

  margin-bottom: 1rem;

  color: #bef264;
  font-size: 0.85rem;
  font-weight: 700;
  letter-spacing: 2px;
}

.about-hero h1 {
  margin-bottom: 1.5rem;

  font-size: clamp(2.5rem, 5vw, 4.5rem);
  line-height: 1.1;
  font-weight: 800;
}

.about-hero h1 span {
  color: #bef264;
}

.about-hero p {
  max-width: 700px;
  margin: 0 auto;

  color: #cbd5e1;

  font-size: 1.1rem;
  line-height: 1.8;
}


.about-stats {
    max-width: 1200px;
    
    margin: -80px auto 0;
    
  padding: 0 1.5rem;

  display: grid;
  grid-template-columns: repeat(3, 1fr);

  gap: 1.5rem;

  position: relative;
  z-index: 2;
}

.stat-card {
  background: #0f1f3d;

  border-radius: 16px;

  padding: 2rem;

  text-align: center;

  border: 1px solid rgba(255,255,255,0.08);

  transition: 0.3s;
}

.stat-card:hover {
  transform: translateY(-5px);
}

.stat-card h2 {
  color: #bef264;

  font-size: 3rem;

  margin-bottom: .5rem;
}

.stat-card h3 {
  margin-bottom: 1rem;
}

.stat-card p {
    color: #94a3b8;

    line-height: 1.6;
}

 @media (max-width: 768px) {
    .about-hero {
     min-height: 65vh;
      }
      .about-hero p {
        font-size: 1rem;
      }
    }